@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn($bg, $color: #fff) {
  background: $bg;
  color: $color;
  padding: rem(12) rem(24);
  border-radius: rem(6);
  text-decoration: none;
  font-weight: 600;
}
