.header {
  @include flex-center;
  justify-content: space-between;
  padding: rem(20) rem(40);
  background: #f7f7f7;

  &__nav {
    display: flex;
    gap: rem(20);
  }

  &__link {
    text-decoration: none;
    color: #222;

    &--active {
      font-weight: 700;
    }
  }
}
