.hero {
  text-align: center;
  padding: rem(80) rem(20);
  background: #e1eeff;

  &__title {
    @extend %title;
    font-size: rem(36);
  }

  &__subtitle {
    font-size: rem(18);
    margin-bottom: rem(20);
  }

  &__btn {
    @include btn(#007bff);
  }
}
